<%= render :partial => 'grid' %>
<div class="row-fluid">
	<div class="alert alert-block">
		点击“查看”，可以查询下级渠道及链接。
  	<a class="close" data-dismiss="alert">×</a>
	</div>
</div>
<div class="row-fluid">
	<div class="span12 well">
			<div class="row-fluid">
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							渠道编号：
						</div>
						<div class="span8">
							<%= grid_filter @channels_grid, :channelcode_filter  %>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							渠道名称：
						</div>
						<div class="span8">
							<%= grid_filter @channels_grid, :channelname_filter  %>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							渠道类型：
						</div>
						<div class="span8">
							<%= grid_filter @channels_grid, :type_filter  %>
						</div>
					</div>
				</div>
				<div class="span6">
					<div class="row-fluid">
						<div class="span4">
							状态：
						</div>
						<div class="span8">
							<%= grid_filter @channels_grid, :status_filter  %>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row-fluid">
				<div class="span12">
					<div class="form-actions">
						<button class="btn btn-primary wg-external-submit-button" data-grid-name="channels">查询</button>
						<%= link_to '获取渠道连接', new_channelurl_path, :class => 'btn btn-warning' %>
						<% if can? :manage, Channel %>
							<%= link_to '新增', new_channel_path, :class => 'btn btn-success pull-right' %>
						<% end %>
					</div>	
				</div>
			</div>
		</div>
	</div>
<%= render_grid(@channels_grid) %>