<div class="row-fluid">
	<div class="span9">
		<div class="well">
			<p class="lead text-center"><legend><strong>渠道连接</strong></legend></p>
			<%= simple_form_for(:channelurl, :url	=> channelurls_path, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<%= f.input :channel, :label => '选择渠道', :collection => Channel.valid_channels, 
											:include_blank => false, :required => true %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<%= f.input :cust_branch, :label => '开户营业部', :collection => Branch.all, 
											:include_blank => true,  input_html: { :class => "branch_selection" } %>
						</div>
						<div class="span6">
							<%= f.input :channel_branch, :label => '服务营业部', :collection => Branch.all, 
											:include_blank => true %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span6">
							<%= f.input :broker, :label => '营销人员', :collection => [], as: :select,
											:include_blank => true, :required => false, input_html: { :class => "broker_selection" } %>
						</div>
					</div>
				</fieldset>
				<div class="form-actions">
					<%= f.submit "确认", :class => 'btn btn-primary' %>
					<%= link_to '取消', channels_path, :class => 'btn' %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>帮助</h4>
		  生成渠道链接。
		  渠道id, 渠道营业部id, 落地营业部id, 存管银行id, 备注信息
		</div>
	</div>
</div>
</div>
	<div id="new_url">
</div>
