<table class="table table-striped table-bordered table-condensed">
  <tbody>
    <tr>
      <td><strong>总收益：</strong></td>
      <td colspan="5"><%= get_num(130125) + get_num(130198) + get_num(600005) %></td>
    </tr>
		<tr class="hidden-phone">
			<td><strong>提成净佣金：</strong></td>
      <td><%= get_num(130125) %></td>
			<td><strong>融资融券信用净佣金：</strong></td>
      <td><%= get_num(130198) %></td>
			<td><strong>报价回购业务收入：</strong></td>
      <td><%= get_num(600005) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>普通净佣金：</strong></td>
      <td colspan="5"><%= get_num(130194) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>融资融券担保净佣金：</strong></td>
      <td colspan="5"><%= get_num(130192) %></td>
		</tr>
		<tr>
			<td><strong>总成交量：</strong></td>
      <td colspan="5"><%= get_num(130105) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>普通成交量：</strong></td>
      <td><%= get_num(130195) %></td>
			<td><strong>融资融券担保成交量：</strong></td>
      <td><%= get_num(130191) %></td>
			<td><strong>融资融券信用成交量：</strong></td>
      <td><%= get_num(130197) %></td>
		</tr>
		<tr>
			<td><strong>业绩报酬：</strong></td>
      <td colspan="5"><%= get_num(200101) %></td>
		</tr>
		<tr>
			<td><strong>基本工资：</strong></td>
      <td colspan="5"><%= get_num(130163) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>业绩提成：</strong></td>
      <td colspan="2"><%= get_num(200000) - get_num(130163) %></td>
			<td><strong>提成比例：</strong></td>
      <td colspan="2"><%= get_num(500789) %></td>
		</tr>
		<tr>
			<td><strong>融资融券信用产品销售报酬：</strong></td>
      <td colspan="5"><%= get_num(130196) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>报价回购月均保有量：</strong></td>
      <td><%= get_num(600165) %></td>
			<td><strong>报价回购当月收入：</strong></td>
      <td><%= get_num(600005) %></td>
			<td><strong>报价回购销售奖励：</strong></td>
      <td><%= get_num(600003) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>扣减：</strong></td>
      <td colspan="2"><%= get_num(200003) %></td>
			<td><strong>考勤扣款：</strong></td>
      <td colspan="2"><%= get_num(170107) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>其他薪资调整发：</strong></td>
      <td colspan="2"><%= get_num(170108) %></td>
			<td><strong>其他薪资调整扣：</strong></td>
      <td colspan="2"><%= get_num(170109) %></td>
		</tr>
		<tr>
			<td><strong>补贴：</strong></td>
      <td colspan="5"><%= get_num(14010013) %></td>
		</tr>
		<tr class="hidden-phone">
			<td><strong>本月合规金返还：</strong></td>
      <td colspan="2"><%= get_num(200005) %></td>
			<td><strong>本月合规金留存：</strong></td>
      <td colspan="2"><%= get_num(200002) %></td>
		</tr>
		<tr>
			<td><strong>税前工资：</strong></td>
      <td colspan="5"><%= get_num(200099) + get_num(170101) + get_num(170108) - get_num(170102).abs - get_num(170106).abs - get_num(170103).abs - get_num(170104).abs - get_num(170105).abs - get_num(170107).abs  - get_num(170109).abs %></td>
		</tr>
  </tbody>
</table>