<legend><p class="lead text-center muted">营销任务执行</p></legend>
<%= simple_form_for @workflowunderway, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.input :workflow_id, as: :hidden, :input_html => { value: Workflow.find_by_code("1001").id } %>
<%= f.input :step, as: :hidden, input_html: { value: 2 } %>
<%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>

<%= f.simple_fields_for :custservvisit do |p| %>
	<fieldset>
	<%= p.input :status, as: :hidden, input_html: { value: get_dict("TaskBase.taskStatus",0).id } %>
	<%= p.input :visit_location, :label => '地址' %>
	<%= p.input :visit_date,  :as => :datetime_picker, :label => '时间' %>
	<%= p.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
	<%= p.input :assit_user_id, :collection => User.valid_user.find_all_by_branch_id(current_user.branch_id),
							:label => '协同人员(如有)' %>
	<%= p.input :memo, as: :text, :input_html => { :rows => '4' }, :label => '内容' %>
	</fieldset>
<% end %>
	<div class="form-actions">
		<%= link_to '上一步', edit_workflowunderway_path(@workflowunderway), :class => 'btn' %>
		<%= f.submit '提交', :class => 'btn btn-primary' %>
		<%= link_to '取消', root_path, :class => 'btn' %>
	</div>
  </fieldset>
<% end %>