<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">输入短信确认码</h3>
  </div>
  <%= form_for(@recoverypassword, :url => {:action => "confirm"}) do |f| %>
    <%= '<div class="modal-body">'.html_safe %>
      <%= f.hidden_field :passwordresetlog_id, :value => @recoverypassword.id %>
      <%= f.text_field :confirm_code, :label => false, :value => "", placeholder: "请输入6位验证码", :class => "input-block-level" %>
    <%= '</div>'.html_safe %>
    <%= '<div class="modal-footer">'.html_safe %>
      <%= '<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>'.html_safe %>
      <%= f.submit "验证", :class => 'btn btn-primary' %>
    <%= '</div>'.html_safe %>
  <% end %>
</div>