<div class="row-fluid">
	<div class="alert alert-info">
		现在是<%= Time.now.strftime("%Y年%m月") %>，以下为当前名下客户基本情况。
  	<a class="close" data-dismiss="alert">×</a>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		<div class="well well-small">
			<%= render 'brokers/custs/brokercusts_table_1' %>
		</div>
	</div>
	<div class="span4">
		<div class="well well-small">
			<%= render 'brokers/custs/brokercusts_table_2' %>
		</div>
	</div>
	<div class="span4">
		<div class="well well-small">
			<%= render 'brokers/custs/brokercusts_table_3' %>
		</div>
	</div>
</div>
<div class="row-fluid">
	<p>
		<div class="alert alert-success">
			我关注的客户
		</div>
		<%= render :partial => 'brokers/custs/favcustsgrid' %>
	</p>
	<div class="well">
		<p class="text-center" id="tab_page">
			<div class="btn-group dropup">
			  <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    我的客户
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
					<% if current_user == @broker.user %>
						<li><%= link_to '经纪关系客户', custs_path %></li>
						<li><%= link_to '营销产品客户', {:controller => 'custs', :action => 'productcusts_index'}  %></li>
					<% else %>
						<li><%= link_to '经纪关系客户', custs_path(:broker_id => @broker) %></li>
						<li><%= link_to '营销产品客户', {:controller => 'custs', :action => 'productcusts_index', :broker_id => @broker} %></li>
					<% end %>
			  </ul>
			</div>
		</p>
	</div>
</div>