<div class="well">
	<ul class="thumbnails inline">
		<li class="span4">
	    <div class="thumbnail">
				<%= avatar %>
	    </div>
	  </li>
		<li>
			<h4><%= @broker.broker_name %></h4>
			<p class="muted"><%= get_dict_by_id(@broker.broker_level).name if @broker.broker_level %></p>
		</li>
	</ul>
	<ul class="inline">
		<li><strong>所属：</strong></li>
		<li><%= Branch.find(@broker.branch_id).name if @broker.branch %></li><br/>
		<li><strong>代码：</strong></li>
		<li><%= @broker.broker_code %></li><br/>
		<li><strong>职务：</strong></li>
		<li>居间人</li><br/>
		<li><strong>状态：</strong></li>
		<li><%= get_dict_by_id(@broker.broker_status).name if @broker.broker_status %></li><br/>
		<li><strong>手机：</strong></li>
		<li><%= @broker.mobile %></li><br/>
		<li><strong>邮箱：</strong></li>
		<li><%= mail_to @broker.email %></li><br/>
		<li><strong>网址：</strong></li>
		<li><%= link_to @broker.url, "#{@broker.url}", :target => "_blank" %></li><br/>
	</ul>
	<ul class="common-divider"></ul>
	<ul class="inline">
		<li><strong>开户银行：</strong></li>
		<li><%= @broker.bank %></li><br/>
		<li><strong>支行：</strong></li>
		<li><%= @broker.serv_bank %></li><br/>
		<li><strong>账户：</strong></li>
		<li><%= @broker.bank_account %></li><br/>
	</ul>
	<ul class="common-divider"></ul>
	<ul class="inline">
		<li><strong>昨日返佣金额：</strong></li>
		<li>0 元</li><br/>
		<li><strong>当前账户余额：</strong></li>
		<li>0 元</li><br/>
		<li><strong>累计总金额：</strong></li>
		<li>0 元</li><br/>
	</ul>
	<ul class="common-divider"></ul>
	<p class="text-center"><%= link_to '立即提现', new_workflowunderway_path, :class => 'btn btn-success' %></p>
</div>
