<div class="row-fluid">
	<div class="span9">
		<div class="row-fluid">
			<p class="alert alert-info text-center">后台任务执行情况(实时)</p>
				<% if @unfinished.any? %>
					<%= render :partial => "systemtasklogs/log", :collection => @unfinished %>
				<% else %>
					<p class="text-center muted">全部任务已执行完毕</p>
				<% end %>
		</div>
	</div>
	<div class="span3">
		<p class="alert alert-success text-center">系统状态</p>
		<div class="well">
			<ul class="unstyled">
				<li><strong>在线人数：</strong><%= @online %></li>
				<li><strong>今日累计访问量：</strong><%= @total_visit %></li>
				<li><strong>系统更新日期：<%= @update_date %></strong></li>
				<li><strong>系统运行时间：<%= @operation_time[:days] %>天，<%= @operation_time[:hours] %>小时，<%= @operation_time[:minutes] %>分钟</strong></li>
			</ul>
		</div>
	</div>
</div>
