<% if @product.产品简介 != nil %>
	<tr>
	 	<td><strong>产品简介：</strong></td>
		<td colspan="3"><%= @product.产品简介 %></td>
	</tr>
<% end %>
<% if @product.风险特征 != nil %>
	<tr>
	 	<td><strong>风险特征：</strong></td>
		<td colspan="3"><%= @product.风险特征 %></td>
	</tr>
<% end %>
<% if @product.产品面值 != nil %>
	<tr>
	 	<td><strong>产品面值：</strong></td>
		<td colspan="3"><%= @product.产品面值 %></td>
	</tr>
<% end %>
<% if @product.产品托管人 != nil %>
	<tr>
	 	<td><strong>产品托管人：</strong></td>
		<td colspan="3"><%= @product.产品托管人 %></td>
	</tr>
<% end %>
<% if @product.管理期限 != nil %>
	<tr>
	 	<td><strong>管理期限：</strong></td>
		<td colspan="3"><%= @product.管理期限 %></td>
	</tr>
<% end %>
<% if @product.封闭期与开放期 != nil %>
	<tr>
	 	<td><strong>封闭期与开放期：</strong></td>
		<td colspan="3"><%= @product.封闭期与开放期 %></td>
	</tr>
<% end %>
<% if @product.参与和退出办理时间 != nil %>
	<tr>
	 	<td><strong>参与和退出办理时间：</strong></td>
		<td colspan="3"><%= @product.参与和退出办理时间 %></td>
	</tr>
<% end %>
<% if @product.最低金额 != nil %>
	<tr>
	 	<td><strong>最低金额：</strong></td>
		<td colspan="3"><%= @product.最低金额 %></td>
	</tr>
<% end %>
<% if @product.相关费率 != nil %>
	<tr>
	 	<td><strong>相关费率：</strong></td>
		<td colspan="3"><%= @product.相关费率 %></td>
	</tr>
<% end %>
<% if @product.投资范围 != nil %>
	<tr>
	 	<td><strong>投资范围：</strong></td>
		<td colspan="3"><%= @product.投资范围 %></td>
	</tr>
<% end %>
<% if @product.自有资金参与 != nil %>
	<tr>
	 	<td><strong>自有资金参与：</strong></td>
		<td colspan="3"><%= @product.自有资金参与 %></td>
	</tr>
<% end %>
<% if @product.费用与业绩报酬 != nil %>
	<tr>
	 	<td><strong>费用与业绩报酬：</strong></td>
		<td colspan="3"><%= @product.费用与业绩报酬 %></td>
	</tr>
<% end %>
<% if @product.投资经理 != nil %>
	<tr>
	 	<td><strong>投资经理：</strong></td>
		<td colspan="3"><%= @product.投资经理 %></td>
	</tr>
<% end %>
<% if @product.封闭期 != nil %>
	<tr>
	 	<td><strong>封闭期：</strong></td>
		<td colspan="3"><%= @product.封闭期 %></td>
	</tr>
<% end %>
<% if @product.分级结构 != nil %>
	<tr>
	 	<td><strong>分级结构：</strong></td>
		<td colspan="3"><%= @product.分级结构 %></td>
	</tr>
<% end %>
<% if @product.封闭期和开放期 != nil %>
	<tr>
	 	<td><strong>封闭期和开放期：</strong></td>
		<td colspan="3"><%= @product.封闭期和开放期 %></td>
	</tr>
<% end %>
<% if @product.参与和退出 != nil %>
	<tr>
	 	<td><strong>参与和退出：</strong></td>
		<td colspan="3"><%= @product.参与和退出 %></td>
	</tr>
<% end %>
<% if @product.投资目标 != nil %>
	<tr>
	 	<td><strong>投资目标：</strong></td>
		<td colspan="3"><%= @product.投资目标 %></td>
	</tr>
<% end %>
<% if @product.募集规模与存续期限 != nil %>
	<tr>
	 	<td><strong>募集规模与存续期限：</strong></td>
		<td colspan="3"><%= @product.募集规模与存续期限 %></td>
	</tr>
<% end %>
<% if @product.投资范围及资产组合 != nil %>
	<tr>
	 	<td><strong>投资范围及资产组合比例：</strong></td>
		<td colspan="3"><%= @product.投资范围及资产组合 %></td>
	</tr>
<% end %>
<% if @product.封闭期与开放日 != nil %>
	<tr>
	 	<td><strong>封闭期与开放日：</strong></td>
		<td colspan="3"><%= @product.封闭期与开放日 %></td>
	</tr>
<% end %>
<% if @product.拟任投资经理 != nil %>
	<tr>
	 	<td><strong>拟任投资经理：</strong></td>
		<td colspan="3"><%= @product.拟任投资经理 %></td>
	</tr>
<% end %>
<% if @product.业绩比较基准 != nil %>
	<tr>
	 	<td><strong>业绩比较基准：</strong></td>
		<td colspan="3"><%= @product.业绩比较基准 %></td>
	</tr>
<% end %>
<% if @product.业绩基准 != nil %>
	<tr>
	 	<td><strong>业绩基准：</strong></td>
		<td colspan="3"><%= @product.业绩基准 %></td>
	</tr>
<% end %>
<% if @product.募集规模与存续期间 != nil %>
	<tr>
	 	<td><strong>募集规模与存续期间：</strong></td>
		<td colspan="3"><%= @product.募集规模与存续期间 %></td>
	</tr>
<% end %>
<% if @product.投资理念 != nil %>
	<tr>
	 	<td><strong>投资理念：</strong></td>
		<td colspan="3"><%= @product.投资理念 %></td>
	</tr>
<% end %>
<% if @product.投资策略 != nil %>
	<tr>
	 	<td><strong>投资策略：</strong></td>
		<td colspan="3"><%= @product.投资策略 %></td>
	</tr>
<% end %>
<% if @product.自有资金投入 != nil %>
	<tr>
	 	<td><strong>自有资金投入：</strong></td>
		<td colspan="3"><%= @product.自有资金投入 %></td>
	</tr>
<% end %>
<% if @product.风险收益特征 != nil %>
	<tr>
	 	<td><strong>风险收益特征：</strong></td>
		<td colspan="3"><%= @product.风险收益特征 %></td>
	</tr>
<% end %>
<% if @product.资产配置比例范围 != nil %>
	<tr>
	 	<td><strong>资产配置比例范围：</strong></td>
		<td colspan="3"><%= @product.资产配置比例范围 %></td>
	</tr>
<% end %>
<% if @product.开放期 != nil %>
	<tr>
	 	<td><strong>开放期：</strong></td>
		<td colspan="3"><%= @product.开放期 %></td>
	</tr>
<% end %>
<% if @product.产品特点 != nil %>
	<tr>
	 	<td><strong>产品特点：</strong></td>
		<td colspan="3"><%= @product.产品特点 %></td>
	</tr>
<% end %>
<% if @product.参与退出费用与业绩 != nil %>
	<tr>
	 	<td><strong>参与退出费用与业绩报酬：</strong></td>
		<td colspan="3"><%= @product.参与退出费用与业绩 %></td>
	</tr>
<% end %>
<% if @product.资产配置比例 != nil %>
	<tr>
	 	<td><strong>资产配置比例：</strong></td>
		<td colspan="3"><%= @product.资产配置比例 %></td>
	</tr>
<% end %>
<% if @product.参与退出费用和保护 != nil %>
	<tr>
	 	<td><strong>参与退出费用和有限保护：</strong></td>
		<td colspan="3"><%= @product.参与退出费用和保护 %></td>
	</tr>
<% end %>
<% if @product.参与退出费用 != nil %>
	<tr>
	 	<td><strong>参与退出费用：</strong></td>
		<td colspan="3"><%= @product.参与退出费用 %></td>
	</tr>
<% end %>
<% if @product.目标规模 != nil %>
	<tr>
	 	<td><strong>目标规模：</strong></td>
		<td colspan="3"><%= @product.目标规模 %></td>
	</tr>
<% end %>
<% if @product.管理期 != nil %>
	<tr>
	 	<td><strong>管理期：</strong></td>
		<td colspan="3"><%= @product.管理期 %></td>
	</tr>
<% end %>
<% if @product.适合推广对象 != nil %>
	<tr>
	 	<td><strong>适合推广对象：</strong></td>
		<td colspan="3"><%= @product.适合推广对象 %></td>
	</tr>
<% end %>
<% if @product.集合计划份额的参与 != nil %>
	<tr>
	 	<td><strong>集合计划份额的参与：</strong></td>
		<td colspan="3"><%= @product.集合计划份额的参与 %></td>
	</tr>
<% end %>
<% if @product.集合计划的分级 != nil %>
	<tr>
	 	<td><strong>集合计划的分级：</strong></td>
		<td colspan="3"><%= @product.集合计划的分级 %></td>
	</tr>
<% end %>
<% if @product.集合计划份额的退出 != nil %>
	<tr>
	 	<td><strong>集合计划份额的退出：</strong></td>
		<td colspan="3"><%= @product.集合计划份额的退出 %></td>
	</tr>
<% end %>
<% if @product.管理人自有资金参与 != nil %>
	<tr>
	 	<td><strong>管理人自有资金参与：</strong></td>
		<td colspan="3"><%= @product.管理人自有资金参与 %></td>
	</tr>
<% end %>
<% if @product.费用 != nil %>
	<tr>
	 	<td><strong>费用：</strong></td>
		<td colspan="3"><%= @product.费用 %></td>
	</tr>
<% end %>
<% if @product.业绩报酬 != nil %>
	<tr>
	 	<td><strong>业绩报酬：</strong></td>
		<td colspan="3"><%= @product.业绩报酬 %></td>
	</tr>
<% end %>
<% if @product.收益分配 != nil %>
	<tr>
	 	<td><strong>收益分配：</strong></td>
		<td colspan="3"><%= @product.收益分配 %></td>
	</tr>
<% end %>
<% if @product.产品展期 != nil %>
	<tr>
	 	<td><strong>产品展期：</strong></td>
		<td colspan="3"><%= @product.产品展期 %></td>
	</tr>
<% end %>
<% if @product.最低份额 != nil %>
	<tr>
	 	<td><strong>最低份额：</strong></td>
		<td colspan="3"><%= @product.最低份额 %></td>
	</tr>
<% end %>
<% if @product.集合计划的参与 != nil %>
	<tr>
	 	<td><strong>集合计划的参与：</strong></td>
		<td colspan="3"><%= @product.集合计划的参与 %></td>
	</tr>
<% end %>
<% if @product.集合计划的退出 != nil %>
	<tr>
	 	<td><strong>集合计划的退出：</strong></td>
		<td colspan="3"><%= @product.集合计划的退出 %></td>
	</tr>
<% end %>
<% if @product.管理人自有资金 != nil %>
	<tr>
	 	<td><strong>管理人自有资金：</strong></td>
		<td colspan="3"><%= @product.管理人自有资金 %></td>
	</tr>
<% end %>
<% if @product.费用种类 != nil %>
	<tr>
	 	<td><strong>费用种类：</strong></td>
		<td colspan="3"><%= @product.费用种类 %></td>
	</tr>
<% end %>
<% if @product.集合计划展期 != nil %>
	<tr>
	 	<td><strong>集合计划展期：</strong></td>
		<td colspan="3"><%= @product.集合计划展期 %></td>
	</tr>
<% end %>
<% if @product.风险收益特征推广对象 != nil %>
	<tr>
	 	<td><strong>风险收益特征及适合推广对象：</strong></td>
		<td colspan="3"><%= @product.风险收益特征推广对象 %></td>
	</tr>
<% end %>
<% if @product.集合计划的展期 != nil %>
	<tr>
	 	<td><strong>集合计划的展期：</strong></td>
		<td colspan="3"><%= @product.集合计划的展期 %></td>
	</tr>
<% end %>
<% if @product.各项费用 != nil %>
	<tr>
	 	<td><strong>各项费用：</strong></td>
		<td colspan="3"><%= @product.各项费用 %></td>
	</tr>
<% end %>
<% if @product.代理推广机构 != nil %>
	<tr>
	 	<td><strong>代理推广机构：</strong></td>
		<td colspan="3"><%= @product.代理推广机构 %></td>
	</tr>
<% end %>