 <div class="navbar navbar-fixed-top">
 	<div class="navbar-inner">
		<div class="container-fluid">
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand"><%= logo %></a>
		  <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse">
					<ul class="nav pull-right">
						<li><%= link_to "首页", root_path %>
						<% if signed_in? %>
							<li class="dropdown">
							  <a class="dropdown-toggle" data-toggle="dropdown" href="#">设置</a>
							  <ul class="dropdown-menu">
                  <% if can? :access_broker_first_page, :all %>
                    <li><%= link_to "个人资料", edit_broker_path(current_broker) %>
                  <% elsif can? :access_user_first_page, :all %>
                    <li><%= link_to "个人资料", user_path(current_user) %>
                  <% end %>
									<% if can? :manage, User %>
										<li><%= link_to "用户管理", users_path %>
									<% end %>
									<% if can? :manage, Role %>
										<li><%= link_to "角色设置", roles_path %>
									<% end %>
									<% if can? :manage, Branch %>
										<li><%= link_to "分支机构管理", branches_path %>
									<% end %>
                  <% if can? :manage, Cust %>
										<li><%= link_to "客户管理", custs_path %>
									<% end %>
								<li class="divider">
								<li><%= link_to "密码变更", edit_user_path(current_user) %>
							  </ul>
					 	<% end %>
							<li><%= link_to "帮助", help_path %>
						<% if signed_in? %>
							<li><%= link_to "退出", signout_path %>
						<% else %>
							<li><%= link_to "登录", signin_path %>
						<% end %>
					</ul>
	        <!-- .nav, .navbar-search, .navbar-form, etc -->
	      </div>
	      <div class="nav-collapse">
					<ul class="nav pull-right">
						<% if signed_in? %>
							<li><%= link_to '公告 '.html_safe + notice_count(current_user), notices_path %>
						<% end %>
					</ul>
				</div>
	      <!-- Be sure to leave the brand out there if you want it shown -->

			<% if signed_in? %>
			<!-- 	<%= form_for :categories, :url => search_categories_path,
																	:method => 'get',
																	:html => { :class => "navbar-search pull-right" } do |f|%>
					<%= f.search_field :category_name,
														 :class => "search-query span2",
														 :placeholder => "搜索",
														 :onsearch => true, data: { autocomplete_source: categories_path } %>
					<%= f.submit :type => 'hidden', :name => nil, :value => 'search' %>
				<% end %> -->
				<!-- <input id="link_broker_id" name="link[broker_id]" type="hidden"/> -->
			<% end %>
	    </div>
	 </div>
 </div>
